body {
    background-color: #555555;
}

header {
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px;
    text-align: center;
}

#sub-heading {
    color: #e2cc0b;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 70px;
    text-decoration: underline;
}
